<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<link href="/css/bksystem.css" rel="stylesheet" type="text/css" />
	<link href="/font/iconfont.css" rel="stylesheet" type="text/css" />
	<link href="/css/module.css" rel="stylesheet" type="text/css" />
	<link href="/css/pages.css" rel="stylesheet" type="text/css" />
	<title>系统框架首页</title>
	<script src="/js/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="/js/jquery.cookie.js" type="text/javascript"></script>
	<script src="/js/jquery.nicescroll.js" type="text/javascript"></script>
	<script src="/js/HUpages.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
	<script src="/js/html5shiv.js" type="text/javascript"></script>
	<script src="/js/css3-mediaqueries.js" type="text/javascript"></script>
	<![endif]-->
</head>
<body id="situation" class="backgrounddd">
<div class="spacing_style"></div>
<div class="pages-style">
	<div class="clearfix">
		<div class="col-md-6">
			<div class="box-module">
				<div class="box-title">状态栏</div>
				<div class="box-content">
					<div class="Shops_info clearfix">
						<div class="left_shop">
							<div class="left_shop_logo">
								<div class="shop_logo"><img src="" onerror="this.src='/images/noimage.png',this.onerror=null"></div>
								<a href="#" class="btn bg-deep-blue padding5">进入首页</a>
							</div>
							<div class="Shops_content">
								<p><label class="name">平台名称：</label>web检验单</p>
								<p><label class="name">平台类型：</label>对接</p>
								<p><label class="name">平台说明：</label>对接</p>
								<p><label class="name">平台类型：</label>简单查看及操作</p>
								<p><label class="name">开发人员：</label>smd</p>
								<p><label class="name">开通时间：</label>2023-8-1</p>
							</div>
							<div class="right_shop">
								<p> 平台评分：</p>
								<ul>
									<li><label class="name">相符描述</label><span class="score">9.9分</span></li>
									<li><label class="name">服务态度</label><span class="score">9.9分</span></li>
									<li><label class="name">发货速度</label><span class="score">9.9分</span></li>

								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="box-module">

			</div>
		</div>
		<div class="col-md-3">

		</div>

	</div>
	<!---->
	<div class="clearfix">

		</div>
		<div class="col-md-4">
			</div>
		</div>
	</div>
</div>
</body>
</html>
<script src="/js/dist/echarts.js" type="text/javascript"></script>
<script>
	//内页框架
	$(function() {
		$("#situation").Hupage({
			scrollbar:function(e){
				e.niceScroll({
					cursorcolor: "#dddddd",
					cursoropacitymax: 1,
					touchbehavior: false,
					cursorwidth: "3px",
					cursorborder: "0",
					cursorborderradius: "3px",
				});
			},
			expand: function(thisBox, settings) {
				settings.scrollbar(thisBox);//设置当前页滚动样式
			}
		})
	})
</script>
<script>
	/*********************/
	require.config({
		paths: {
			echarts: '/js/dist'
		}
	});

</script>